body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.btn-modern {
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    position: relative; 
}

.btn-modern:hover {
    background-color: red;
    border-radius: 5px;
    position:absolute;    
    transform: translateX(-5px);
    color: wheat;
    transition: transform .4s ease-in; 
}
